{% extends "layout.html" %}

{% block content %}

    <h1>G検定　年表</h1>
    <h2>歴史</h2>
    <div class="history">
        <div class="item">第１次AIブーム</div>
        <div class="years">1950〜1960年代</div>
        <div class="hcaption">推論と探索によるパズル・迷路・チェス。明確に定義された特定の問題しか対応できず"トイプロブレム"と呼ばれる。</div>

        <div class="item">第２次AIブーム</div>
        <div class="years">1980年代</div>
        <div class="hcaption">エキスパートシステム、知識データベースから専門家のように返答。膨大な知識の管理や例外や矛盾に対処できず。知識獲得のボトルネック
            <p>DENDRAL：有機化合物の分子構造、MYCIN：感染症の診断・抗生物質処方、CASNET：緑内障の診断支援、PIP：腎臓病の診断支援</p>
        </div>

        <div class="item">第３次AIブーム</div>
        <div class="years">2000年代</div>
        <div class="hcaption">ディープラーニング、インターネット普及によりデータなどが集めやすくなった。</div>
    </div>

 
        <h2>CNN</h2>
        
    <div class="ILSVRC">
        <div class="years">1982年</div>
        <div class="item">ネオコグニトロン</div>
        <div class="hcaption">CNNの先駆けモデル。特徴抽出を行うS細胞層と位置ずれを許容するC細胞層を交互に重ねた多層構造をもつ神経回路モデル。</div>

        <div class="years">1998年</div>
        <div class="item">LeNet</div>
        <div class="hcaption">ヤン・ルカンによってCNNの第一号。畳み込み層とプーリング層を交互に重ねたネットワーク。</div>

        <div class="subhead">ILSVRC　<sub>CNNを用いた画像認識の誤差率を競うコンペティション。2017年以降はKaggleという機械学習のコンペティションの中で開催。</sub></div>
        <div class="years">2012年</div>
        <div class="item">AlexNet</div>
        <div class="hcaption">トロント大学のヒントン教授、前年の誤差率を10%以上改善。8層のネットワークでドロップアウト、データ拡張、バッチ正規化などのテクニックを取り入れている。</div>
        
        <div class="years">2013年</div>
        <div class="item">ZFNet</div>
        <div class="hcaption">2013年ILSVRC優勝モデル,AlexNetの問題点を改良。小サイズのフィルタを利用した畳み込み演算を取り入れたアーキテクチャを用いたモデル</div>

        <div class="years">2014年</div>
        <div class="item">GoogLeNet</div>
        <div class="hcaption">2014年ILSVRC優勝モデル,入力層から出力層まで一直線ではなく、異なるサイズの畳み込み層を並列に並べたインセプションモジュールを組み合わせた。</div>

        <div class="years">2014年</div>
        <div class="item">VGG</div>
        <div class="hcaption">2014年ILSVRC準優勝モデル,オックスフォード大学のチームにより提案。シンプルで分かりやすいアーキテクチャであるため汎用的なモデルとして人気。典型的なCNNだが隠れ層が16層や19層のものがある。小さいフィルタを多数畳み込む。</div>

        <div class="years">2015年</div>
        <div class="item">ResNet</div>
        <div class="hcaption">2015年ILSVRC優勝モデル,人間の認識精度と言われている5%を超えた。Microsoft Reserchにより提案。層を飛び越えた結合をもつスキップ結合という技術により最大1000層以上の深いニューラルネットワークを構築しても勾配消失が抑えられた。</div>
    
        <div class="years">2016年</div>
        <div class="item">DenseNet</div>
        <div class="hcaption">2016年の優勝モデルはなし。研究の発表は2017? DenseNetは画像認識タスクに優れ、各層が前のすべての層と接続されており、情報を効率的に伝播させることができる。勾配消失問題を軽減し、モデルのパラメータ数を削減しつつも高い性能を発揮します。</div>

        <div class="years">2017年</div>
        <div class="item">SENet</div>
        <div class="hcaption">2017年ILSVRC優勝モデル,深層学習モデルが特徴マップのチャネルごとの重要度を動的に調整できるように設計されています。これにより、重要な情報を強調し、不要な情報を抑制。</div>

        <div class="years">2019年</div>
        <div class="item">EfficientNet</div>
        <div class="hcaption">ICML2019で発表された論文,Compound Coefficientに基づいて、小さなモデルで効率よく高い精度を達成。</div>
    </div>

    <h2>AIシステム</h2>
    <div class="model">
        <div class="years">1997年</div>
        <div class="item">Deep Blue</div>
        <div class="hcaption">IBM社、チェスの世界チャンピオンを破った。</div> 

        <div class="years">2009年</div>
        <div class="item">ワトソン(Watson)</div>
        <div class="hcaption">米国のクイズ番組Jeopardy!に参戦し、2011年に史上最強のチャンピオンと対戦し勝利。ライトウェイトオントロジーを応用</div> 

        <div class="years">2013年</div>
        <div class="item"></div>
        <div class="hcaption">Atari社、ゲームにおける攻略スコアが人間を超える。</div> 

        <div class="years">2015年</div>
        <div class="item">AlphaGo</div>
        <div class="hcaption">DeepMind社、囲碁のトップ棋士（イ・セドル九段）を打ち倒す。モンテカルロ木探索法とCNNを使用。人間の棋譜データを学習データとして教師あり学習を行なっている。</div> 
    
        <div class="years">2017年</div>
        <div class="item">AlphaGo Zero</div>
        <div class="hcaption">DeepMind社、完全自己対局で学習している。</div> 

        <div class="years">2017年</div>
        <div class="item">Alpha Zero</div>
        <div class="hcaption">DeepMind社、囲碁に限らず将棋やチェスなどの分野でも自己対戦のみで学習できる。</div> 

        <div class="years">2019年</div>
        <div class="item">Alpha Star</div>
        <div class="hcaption">DeepMind社、スタークラフトというゲームにおいてトップマスターを打倒。ResNet,LSTM,トランスフォーマーなどの手法を組み合わせて学習を行う。</div> 

        <div class="years">2019年</div>
        <div class="item">OpenAI five</div>
        <div class="hcaption">Open AI社、Dota2という対戦型リアルタイムストラテジーゲームで世界王者を破って勝利。</div> 

    </div>
    <a href="{{ url_for('index')}}">インデックスへ戻る</a>
{% endblock %}