{% extends "layout.html" %}

{% block content %}

    <h1>G検定　レベル</h1>
    <div class="definition">
        <div class="subhead">人工知能レベル</div>
        <div class="name">レベル１</div>
        <div class="caption">単純な制御プログラム:温度センサを用いてエアコンのON/OFFを制御するようなシンプルな機構。</div>
        
        <div class="name">レベル２</div>
        <div class="caption">古典的な人工知能:自ら学習はしないが、自動掃除ロボットのように複雑な振る舞いを見せる機構</div>
   
        <div class="name">レベル３</div>
        <div class="caption">機械学習を取り入れたAI：通販サイトの推薦システムのように自ら特徴やルールを学習するもの</div>
       
        <div class="name">レベル４</div>
        <div class="caption">ディープラーニングを取り入れたAI：機械学習の中でもディープラーニングを取り入れ、高精度を実現したもの</div>
    
        <div class="subhead">知能の全体像</div>
        <div class="name">第一階層</div>
        <div class="caption">パターン処理：環境からの情報のセンシングとそれに応じた行動というループが基本とされる。</div>
        
        <div class="name">第二階層</div>
        <div class="caption">記号の処理：人間はこれを通じて物事を抽象的に認識できるようになり、チェスなどのゲームを楽しむようになった。</div>
   
        <div class="name">第三階層</div>
        <div class="caption">他者とのインタラクション：我々が知識を獲得していく上で不可欠な営み</div>
       

        <div class="subhead">自動運転のレベル分け</div>
        <div class="name">レベル１</div>
        <div class="caption">運転支援：自動ブレーキ、前の車について走る、車線からはみ出さない</div>
        
        <div class="name">レベル２</div>
        <div class="caption">特定条件下での自動運転：レベル１の組み合わせ、高速道路での自動運転モード（自動追い越しや自動合流）</div>
   
        <div class="name">レベル３</div>
        <div class="caption">条件付自動運転：システムがすべての運転タスクを実施するが、システムの介入要求などに対してドライバーが適切に対応することが必要。</div>
       
        <div class="name">レベル４</div>
        <div class="caption">特定条件下における完全自動運転：特定条件下においてシステムがすべての運転タスクを実施</div>
 
        <div class="name">レベル５</div>
        <div class="caption">完全自動運転：常にシステムがすべての運転タスクを実施</div>
    
        <div class="subhead">創作の3ステップ</div>
        <div class="namelong">・課題設定</div>
        <div class="namelong">・解決手段候補選択</div>
        <div class="namelong">・実効性評価</div>

    
    </div>



    <a href="{{ url_for('index')}}">インデックスへ戻る</a>
{% endblock %}