{% extends "layout.html" %}

{% block content %}

    <h1>テスト用のテスト入力</h1>
    
    <h2>{{BTSQ.BookTitle}}</h2>
    <h2>第　{{BTSQ.sentense}}　章　{{BTSQ.questions}}　問目</h2>
    <form action="/Que2nd" method="post">
        <div class="radioselect">
            <input type="radio" name="radioin" value="1">　１<br>
            <input type="radio" name="radioin" value="2">　２<br>
            <input type="radio" name="radioin" value="3">　３<br>
            <input type="radio" name="radioin" value="4">　４<br>
        </div>

        <button type="submit" class="btn btn-primary" name="action" value="preQ" {% if BTSQ.questions==1 %} disabled {% endif %}}>１つ前へ</button>
        <button type="submit" class="btn btn-primary" name="action" value="postQ">1つ先へ</button>
        <button type="submit" class="btn btn-primary" name="action" value="Qlist">一覧</button>
        <input type="hidden" name="nowQ1" value="{{BTSQ.sentense}}">
        <input type="hidden" name="nowQ2" value="{{BTSQ.questions}}">
        <input type="hidden" name="nowTitle" value="{{BTSQ.BookTitle}}">
    </form>   

    

    <a href="{{ url_for('index')}}">インデックスへ戻る</a>
{% endblock %}