{% extends "layout.html" %}

{% block content %}

    <h1>テスト用のテスト入力</h1>
    
    <h2>結果の履歴</h2>
   
    <div class="resultlist">
        <div class="Tdate">日付</div>
        <div class="TTitle">タイトル</div>
        <div class="Taccu">正解率</div>
        <div class="TRD">間違った番号</div>
        <div class="Tfavo">favo</div>

        {% for i in session['Rdb'] %}
            <input type="checkbox" id="{{ loop.index0 }}" class="box" name="dc" value="{{ i.date }}">
            <label class="ridate" for="{{ loop.index0 }}">{{ i.date }}</label>
            <label class="riTitle" for="{{ loop.index0 }}">{{ i.title }}</label>
            <label class="riaccu" for="{{ loop.index0 }}">{{ i.accuracy }}% ({{i.collect}}/{{i.uncollect}})</label>
            <select class="riRD">
                {% set RD_list = i.RD.split(',') %}
                {% for item in RD_list %}
                    <option>{{item}}</option>
                {% endfor %}
            </select>
            <select class="rifavo">
                {% set favo_list = i.favo.split(',') %}
                {% for it in favo_list %}
                    <option>{{it}}</option>
                {% endfor %}
            </select>


        {% endfor %}
        <button class="btn btn-primary del" id="delbutton">削除</button>

    </div>

    <a href="{{ url_for('main.TestQA')}}">テストトップへ戻る</a>

    <script>//削除用のボタンとチェックボックス
        const delbutton = document.getElementById('delbutton');
        delbutton.addEventListener('click',() =>{
            let conf = confirm("本当に削除してもよろしいですか？");
            if (conf){
                let delcheck = document.getElementsByName('dc');
                let checkitems = [];

                for (let i =0;i < delcheck.length;i++){
                    if(delcheck[i].checked){
                        checkitems.push(delcheck[i].value);
                    }
                }

                fetch('/delcheck',{
                    method: 'POST',
                    headers:{
                        'Content-Type':'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({ checkitems:checkitems})
                })
            .then(response =>{
                if(response.ok){
                    return response.json();
                    console.log('dellcheck response ok')
                } else {
                    console.error('delcheck request error:',response.statusText);
                }
            })
            .then(data => {
                if(data.redirect_url){
                    window.location.href = data.redirect_url;
                }
            })
            .catch(error => {
                console.error('fetch error:',error);
            })
            }
        });    
    </script>

{% endblock %}
