
{% block content %}
<div class="attendall">

<div class="attendtitle">
    <h1 class="attendh1">AttendTap</h1>
    <h2 class="attendh2">"Manage your working hours with a tap"</h2>
</div>

<div class="attendbody">

<img src="{{ url_for('static', filename='images/AttendTapIconFeatureenen2.png')}}" class="featurepng">

<div class="googleapple">
    <a href='https://play.google.com/store/apps/details?id=tech.migsfactory.attendtap&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img class="googleplayBadge" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/></a>
    <a href="https://apps.apple.com/jp/app/attendtap/id6739482367" target="_blank">
        <img class="appstoreBadge" src="{{ url_for('static', filename='images/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg')}}" alt="Download on the App Store">
    </a>
</div>

<section>
    <h3>Information </h3>
    <ul>
        <li>Release date：iOS December 19, 2024 ,Android January 14, 2025</li>
        <li>OS：iOS,Android</li>
    </ul>
</section>

<section>
    <h3>Feature</h3>
    <ul>
        <li>Record the reason for overtime and the current time with a tap.</li>
        <li>Set a specific time using the time adjustment button.</li>
        <li>Easily editable later.</li>
        <li>Freely record comments.</li>
        <li>View records in both list and calendar formats.</li>
        <li>Edit and reorder overtime reasons as needed.</li>
        <li>Customize theme colors and fonts to suit your preferences.</li>
    </ul>
</section>

<section>
    <h3>Release notes</h3>
    v1.2.0 (2025-01-13)
    <ul>
        <li>Fixed a bug where N/A could not be displayed in the list.</li>
        <li>UI/UX adjustments.</li>
    </ul>
    v1.1.0 (2024-12-24)
    <ul>
        <li>Added a regular working hours setting.</li>
        <li>Displayed overtime hours on the list screen.</li>
        <li>Minor UI adjustments.</li>
    </ul>
    v1.0.0 (2024-12-19)
    <ul>
        <li>Release</li>
        
    </ul>
</section>

<section>
    <h3>Target</h3>
    <p>For individuals who need to manage their attendance personally.</p>
    <h3>Purpose</h3>
    <p>The goal is to simplify the process of recording clock-in/out times and overtime reasons, while allowing easy edits later, reducing the time and effort spent on daily attendance management.</p>
    <h3>Concept</h3>
    <p>For those who wish to keep a record of overtime reasons but find it cumbersome to write them down each time, this app allows you to pre-register items and save records with just a tap.</p>
    <h3>Difference</h3>
    <p>While there are many attendance management apps available, most are designed for organizational use, leaving few options for individuals. Additionally, there are no apps that make recording overtime reasons so simple.</p>
    <h3>Technique</h3>
    <ul>
        <li>Flutter</li>
        <li>SQLite</li>
    </ul> 
    <h3>Technology Selection</h3>
    Since the goal was to release the app on both iOS and Android, Flutter, a cross-platform framework, was chosen. Using Flutter enabled the development of an app compatible with both platforms in a short period of time.<br> 
    To manage work-related data effectively, CRUD functionality was implemented using a database. SQLite, being lightweight and suitable for standalone small-scale mobile applications, was selected to integrate seamlessly into the app while also allowing for better familiarity with database management.

    
</section>

<section>
    <h3>Team Structure</h3>
    <ul><li>1 person</li></ul>
    <h3>Period</h3>
    <ul><li>1.5 months</li></ul>
    <h3>Issues</h3>
    <p>Adjusting the UI for different device sizes was a major challenge. Non-fixed elements were made responsive by dynamically retrieving the device's screen size.<br> 
    Considering the market potential, expanding beyond Japan by translating terminology into English presented significant advantages. Therefore, the app was made available in English and ensured compliance with the EU's GDPR regulations.</p>
    <h3>Outlook</h3>
    <p>Future updates will address bugs and user requests, particularly for features like break time settings, handling transitions across dates, and report generation.<br> Expanding support to languages other than English will further broaden the market. Additionally, we aim to explore trends and enhance added value, such as improved design, to consider monetization opportunities.</p>
</section>

<section>
    <h3>FAQ</h3>
    <p><strong>Q: Is this app free?</strong><br>A: Yes, you can use it for free.</p>
    <p><strong>Q: How do I use it?</strong><br>A: You can check the instructions <a href="https://migsfactory.tech/supporten">here.</a></p>
</section>

<section>
    <h3>Contact Us</h3>
    <div class="attendcontact">
        <ul>
        <li><a class="contact" id="contactLink" href="https://form.run/@migsfactory-xoPPHC2kzjMrEY72dOxa" data-bs-toggle="modal" data-bs-target="#contactModal" role="button" tabindex="0">Contact</a></li>
        <li><a href="https://migsfactory.tech/attendtap_termsen">Terms & Conditions</a></li>
        <li><a href="https://migsfactory.tech/attendtap_privacyen">Privacy Policy</a></li>
        <li><div>github : <a href="https://github.com/MigsFac/AttendTap"><img src="{{ url_for('static',filename='images/github-mark.png')}}" style="width:30px;"></a></div></li>
        </ul>
    </div>
</section>

</div>
</div>



{% endblock %}