{% extends "PortfolioLayout.html" %}

{% block content %}
<div class="attendall">

<div class="attendtitle checktitle">
    <h1 class="attendh1">Auto Test in Selenium</h1>
    <h2 class="attendh2">「テスト自動化アプリ」</h2>
</div>

<div class="attendbody">

<img src="{{ url_for('static', filename='images/AutoTest1.png')}}" class="featurepng" style="margin-bottom:1rem">


<a href="{{ url_for('main.autoTest_detail')}}#toggle">
<details id="toggle">
    <summary id="toggle-summary"><span id="summary-text">計算機側の簡易的な仕様書です。クリックすると展開されます。</span>
        <img id="toggle-icon" src="{{ url_for('static', filename='images/testSpecification.png')}}" class="detailpng">
    </summary>
    <div id="details-content" class="details-content">
        <img src="{{ url_for('static', filename='images/test1.png')}}" class="detailpng">
        <img src="{{ url_for('static', filename='images/test2.png')}}" class="detailpng">
        <img src="{{ url_for('static', filename='images/test3.png')}}" class="detailpng">
        <img src="{{ url_for('static', filename='images/test4.png')}}" class="detailpng">
        <img src="{{ url_for('static', filename='images/test5.png')}}" class="detailpng">
        <img src="{{ url_for('static', filename='images/test6.png')}}" class="detailpng">
        <img src="{{ url_for('static', filename='images/test7.png')}}" class="detailpng">
        <img src="{{ url_for('static', filename='images/test8.png')}}" class="detailpng">
        <img src="{{ url_for('static', filename='images/test9.png')}}" class="detailpng">
    
    </div>
</details>
</a>

<a href="{{ url_for('static', filename='test_case_portfolio.xlsx')}}" download>テストケース(Excelファイル)をダウンロード</a><br>
<iframe src="{{ url_for('static', filename='test_case_portfolio.pdf')}}" class="test-case" width="100%" height="600px"></iframe>

<a href="https://migsfac.github.io/autoTestSelenium/report.html" target="_blank">Pytest-htmlのレポートはこちら<br>
    <img src="{{ url_for('static', filename='images/report-title.png')}}" class="detailpng">
</a>
<section>
    <h3>Information - 基本情報</h3>
    <ul>
        <li>リリース日：2025年2月</li>
        <li>対応OS：macOS 15</li>
        <li>対応ブラウザ：Google Chrome</li>
    </ul>
</section>

<section>
    <h3>Feature - 主な機能</h3>
    <ul>
        <li>計算機Webアプリのテストを自動化</li>
        <li>Excelファイルを読み込んで、テストケースから入力値を取得</li>
        <li>Seleniumで自動で値を入力して、処理結果をExcelに保存</li>
        <li>Pytest-htmlを用いてHTMLレポートを作成</li>
             
    </ul>
</section>

<section>
    <h3>Release notes - リリースノート</h3>
   
    v1.0.0 (2025-2)
    <ul>
        <li>リリース</li>
    </ul>
</section>

<section>
    <h3>Target - 対象</h3>
    <ul>
        <li>テストを効率よく進めたい方</li>
    </ul>
    <h3>Purpose - 目的</h3>
    <p>自作した簡易計算機のテストを自動化し、効率よく網羅的にテストを実行する。</p>
    <h3>Concept - コンセプト</h3>
    <p>Excelファイルからテストケースを読み込んで、入力値を取得。Seleniumを用いた自動テストで結果取得。結果をExcelファイルに書き出しレポートを作成する。</p>
    
    <h3>Technique - 使用技術</h3>
    <ul>
        <li>Python</li>
        <li>Selenium</li>
        <li>Pytest</li>
        
    </ul> 
    <h3>Reasons - 技術の選定理由</h3>
    Webアプリのテスト自動化のためSeleniumを使用。客観的な結果としてレポートの出力が必要と感じPytestでHTMLレポートを作成。<br>Excelから入力値を読み込んで値を入出力するため、これらを実現するために使いやすいPythonを採用。

    
</section>

<section>
    <h3>Team - チーム構成</h3>
    <ul><li>１人</li></ul>
    <h3>Period - 開発期間</h3>
    <ul><li>1週間</li></ul>
    <h3>Issues - 課題</h3>
    <p>完成されたアプリから逆算して、簡易的な仕様書を作成しました。慣れない仕様書やテストケースの作成に苦慮しました。特に計算結果の境界値を探し、入力値を推定するのに時間を要しました。作成したテスト自動化アプリをテストする必要があり、入出力の値の確認の重要性を認識しました。</p>
    <h3>Outlook - 今後の展望</h3>
    <p>Seleniumで入力するとHTML5のバリデーションに引っかからないことがあったため、検証が必要。<br>テストケースの読み込みに時間かかるため対策を考える。<br>実際のwebアプリ側にエラーが見つかったため、修正する。<br>現在レポートがPytest-htmlのみなので起票を考える。<br>CI/CDの導入</p>
</section>

<section>
    
    
</section>

<section>
    <h3>Contact  - お問い合わせ</h3>
    <div class="attendcontact">
        <ul>
        <li><a class="contact" id="contactLink" href="https://form.run/@migsfactory-xoPPHC2kzjMrEY72dOxa" data-bs-toggle="modal" data-bs-target="#contactModal" role="button" tabindex="0">お問い合わせ</a></li>
        <li><div>github : <a href="https://github.com/MigsFac/autoTestSelenium"><img src="{{ url_for('static',filename='images/github-mark.png')}}" style="width:30px;"></a></div></li>
        </ul>
    </div>
</section>

</div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
  let details = document.getElementById("toggle");
  let summary = document.getElementById("toggle-summary");
  let summaryText = document.getElementById("summary-text");
  let detailsContent = document.getElementById("details-content");
  let icon = document.getElementById("toggle-icon");

  // `summary` をクリックで開閉
  summary.addEventListener("click", function (event) {   
      if(details.open){
        summaryText.textContent =  "計算機側の簡易的な仕様書です。クリックすると展開されます。" ;
      } else {
        summaryText.textContent =  "計算機側の簡易的な仕様書です。クリックすると閉じます。";
        details.removeAttribute("open");
      }
  });
  detailsContent.addEventListener("click",function(){
    summaryText.textContent =  "計算機側の簡易的な仕様書です。クリックすると展開されます。";
    details.removeAttribute("open");
  });
});

</script>

{% endblock %}