{% extends "layout.html" %}

{% block content %}

    <h1>G検定用計算機</h1>
    <p>G検定用の計算機です。</p>
    <select name="kinds" id="kinds" onchange="loadmath()">
        <option value="cossim" selected >コサイン類似度</option>
        <option value="euclid">ユークリッド距離</option>
        <option value="confumix">混合行列</option>
        <option value="FMap">特徴MAP</option>
    </select>
    <br>

    <iframe id="selectmath" src=""  style="width:90%;"></iframe>
    
    <p><a href="{{ url_for('main.index')}}">インデックスへ戻る</a></p>

    <script>
        const disp = document.getElementById("selectmath");

        function funcheight(){
            disp.style.height = disp.contentWindow.document.body.scrollHeight + 50+"px";
            disp.style.width = disp.contentWindow.document.body.scrollWidth + "px";
        }

        function loadmath(){
            const select = document.getElementById('kinds');
            const iframe = document.getElementById('selectmath');
            const selectedmath = select.value;
            iframe.src = selectedmath
        
            iframe.onload = function(){
                const iframeDocument = iframe.contentWindow.document;
                const observer = new MutationObserver(function(){
                    funcheight();
                });
                observer.observe(iframeDocument.body,{
                    childList: true,
                    subtree: true,
                });

                funcheight();
            };
        }
      
        window.onload = function(){
            loadmath();
        }
    </script>

  
<br>
   
{% endblock %}