{% extends "PortfolioLayout.html" %}

{% block content %}
<div class="attendall">

<div class="attendtitle checktitle">
    <h1 class="attendh1">CheckAnswers</h1>
    <h2 class="attendh2">「問題集の答え合わせ用アプリ」</h2>
</div>

<div class="attendbody">

<img src="{{ url_for('static', filename='images/checkAnswers1.png')}}" class="featurepng">
<div class="democap">実際のデモは <a class="this" href="{{ url_for('main.TestQA',key='pf')}}">こちら</a>からご覧いただけます。</div>

<section>
    <h3>Information - 基本情報</h3>
    <ul>
        <li>リリース日：2024年10月</li>
        <li>対応ブラウザ：Google Chrome,Safari</li>
    </ul>
</section>

<section>
    <h3>Feature - 主な機能</h3>
    <ul>
        <li>問題集の答え合わせ</li>
        <li>タイマー機能</li>
        <li>回答一覧表示および該当番号へのジャンプ</li>
        <li>結果の記録（日付、正解率、間違った問題番号、気になる問題番号）</li>
        <li>CBT方式の練習</li>
             
    </ul>
</section>

<section>
    <h3>Release notes - リリースノート</h3>
   
    v1.0.0 (2024-10)
    <ul>
        <li>リリース</li>
    </ul>
</section>

<section>
    <h3>Target - 対象</h3>
    <ul>
        <li>問題集の答え合わせをする時間がもったいない方</li>
        <li>CBT方式の受験勉強に書籍の問題集を用いている方</li>
    </ul>
    <h3>Purpose - 目的</h3>
    <p>このアプリを使用することで、答え合わせの手間や時間を削減し効率的な学習を支援します。また、CBT方式の練習を支援します。</p>
    <h3>Concept - コンセプト</h3>
    <p>反復が必要な問題集の答え合わせを自動化することで、手間や時間を削減することを第一に考えました。webアプリとすることで答え合わせの効率化とCBT方式の受験練習を兼ねることを実現しました。そのために必要な便利機能を付随させていくことで学習支援を達成しました。</p>
    <h3>Difference - 他アプリとの差異</h3>
    <p>実際の問題集アプリや自分で問題集を作るアプリは多々ありますが、任意の問題集の答え合わせができ、CBT方式の練習ができるものは見つけられませんでした。</p>
    <h3>Technique - 使用技術</h3>
    <ul>
        <li>HTML/CSS</li>
        <li>JavaScript</li>
        <li>Python</li>
        <li>Flask</li>
        <li>SQLite</li>
    </ul> 
    <h3>Reasons - 技術の選定理由</h3>
    当時、G検定の勉強を行っていたため、後々AI関係のプログラムに対応できるように勉強したいと思いPythonを選びました。アプリ自体は小規模のため、フレームワークに軽量かつシンプルなFlask、データベースにはSQLiteを選択。

    
</section>

<section>
    <h3>Team - チーム構成</h3>
    <ul><li>１人</li></ul>
    <h3>Period - 開発期間</h3>
    <ul><li>2ヶ月</li></ul>
    <h3>Issues - 課題</h3>
    <p>問題自体がないため、問題ページは不要で番号管理だけでよかったのですが、逆にページで切り替えられないため番号の切り替えや選択した回答の保持に苦慮しました。Flaskのsessionを使うことで対応しましたが、問題数が多くなると保存方法を考える必要があると思いました。また、思っていた以上にブラウザ間の差が大きかったです。</p>
    <h3>Outlook - 今後の展望</h3>
    <p>他のブラウザへの対応、ログイン機能の強化。他者に使ってもらうためのブラッシュアップや提供方法の検討を行い、次に繋げていきたいと考えています。</p>
</section>

<section>
    <h3>FAQ - よくある質問</h3>
    <p><strong>Q: このアプリは無料ですか？</strong><br>A: はい、無料でご利用いただけます。</p>
    
</section>

<section>
    <h3>Contact  - お問い合わせ</h3>
    <div class="attendcontact">
        <ul>
        <li><a class="contact" id="contactLink" href="https://form.run/@migsfactory-xoPPHC2kzjMrEY72dOxa" data-bs-toggle="modal" data-bs-target="#contactModal" role="button" tabindex="0">お問い合わせ</a></li>
        <li><div>github : <a href="https://github.com/MigsFac/CheckAnswers"><img src="{{ url_for('static',filename='images/github-mark.png')}}" style="width:30px;"></a></div></li>
        </ul>
    </div>
</section>

</div>
</div>



{% endblock %}