<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="cp932">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/> 
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <title>Mig's Factory</title>
    </head>

    <body>
        <form action="/result" method="post">
         
          <div class="capFM" style="font-size:200%">特徴MAP</div>  
          <div class="captionFM" >元画像のMapSizeとフィルターのFilterSizeおよび値を入力して、パディングとストライドを決めてください。</div>
          <div class="container_FM">
            <div class="Mapsize">
              MapSize
              <select name="Maps" id="Maps" onchange="loadmap()" >
               <option value="3" {% if session['result']!=none and session['result']['parainit'][2]==3 %}selected{% endif %}>3x3</option>
               <option value="4" {% if session['result']!=none and session['result']['parainit'][2]==4 %}selected{% endif %}>4x4</option>
               <option value="5" {% if session['result']!=none and session['result']['parainit'][2]==5 %}selected{% endif %}>5x5</option>
               <option value="6" {% if session['result']!=none and session['result']['parainit'][2]==6 %}selected{% endif %}>6x6</option>
              </select>
            </div>
            <div class="padding">
              Padding
              <select name="pad" id="pad">
                <option value="0" {% if session['result']!=none and session['result']['parainit'][0]==0 %}selected{% endif %}>なし</option>
                <option value="1" {% if session['result']!=none and session['result']['parainit'][0]==1 %}selected{% endif %}>あり</option>
              </select>
            </div>
            <div class="stride">
              Stride
              <select name="stride" id="stride">
                <option value="1" {% if session['result']!=none and session['result']['parainit'][1]==1 %}selected{% endif %}>1</option>
                <option value="2" {% if session['result']!=none and session['result']['parainit'][1]==2 %}selected{% endif %}>2</option>
                <option value="3" {% if session['result']!=none and session['result']['parainit'][1]==3 %}selected{% endif %}>3</option>
              </select>
            </div>
            <div class="filtersize">
              FilterSize
              <select name="filter" id="filter" onchange="loadmap()">
                <option value="2" {% if session['result']!=none and session['result']['parainit'][3]==2 %}selected{% endif %}>2x2</option>
                <option value="3" {% if session['result']!=none and session['result']['parainit'][3]==3 %}selected{% endif %}>3x3</option>
              </select>
            </div>
             
         <div class="mapping">
            <div class="originMap" id="originMap">
            </div>
            <div class="filterMap" id="filterMap">             
            </div>
         </div>
        </div>
          <div class="capsubFM">
             <div class="captionFM">空欄は0で補完されます。</div>
             <div  class="submitmap" >
             <button type="submit" name="submit" id="submit" value="FM" class="btn FM btn-primary">実行</button>
             </div>
           </div>
        </form>

          <div class="ResultMap" id="ResultMap">
            {% for i in session['result']['ResultFlat'] %}
               <div class="ResItem">{{ i }}</div>
            {% endfor %}
          </div>
          <div>{% if session['result'].MapTotal  %}={{session['result'].MapTotal}} {% endif %}</div>

          <div id="hListinit" style="display:none;">{{ session['result']['Listinit'] }}</div>
         
       
        
        <script>
          const inputContainer = document.getElementById('originMap');
          const inputfilContainer = document.getElementById('filterMap');
          const inputResult = document.getElementById('ResultFM')
          const stride = document.getElementById('stride')

          function loadmap(){
            const select = document.getElementById('Maps');
            const selectF = document.getElementById('filter');
            const selectedmap = select.value; 
            const selectedfilter = selectF.value; 
            let Listinit = document.getElementById('hListinit').textContent;
            if(Listinit){Listinit = JSON.parse(Listinit);}
            
            
            inputContainer.style.gridTemplateColumns = `repeat(${select.value},50px)`;
            inputContainer.style.gridTemplateRows = `repeat(${select.value},50px)`;
            inputContainer.innerHTML = '';
            
            for (let i =1; i <= select.value*select.value;i++){
              const input = document.createElement('input');
              input.type = 'number';
              input.class = 'oripic';
              input.name = `ori_${i}`;
              if (Listinit && Listinit[0] ){
                input.value = Listinit[0][i-1];
              } 
              inputContainer.appendChild(input);
            };
            
            
            inputfilContainer.style.gridTemplateColumns = `repeat(${selectF.value},50px)`;
            inputfilContainer.style.gridTemplateRows = `repeat(${selectF.value},50px)`;
            inputfilContainer.innerHTML = '';
            
            for (let i=1; i <= selectF.value*selectF.value;i++){
              const inputF = document.createElement('input');
              inputF.type = 'number';
              inputF.class = 'filpic';
              inputF.name = `fil_${i}`;
              if (Listinit && Listinit[1]){
                inputF.value = Listinit[1][i-1];
              }
              inputfilContainer.appendChild(inputF);
            }
            
            const resitem = document.querySelectorAll('.ResItem');
            const tilec = resitem.length;
            const gricon = document.getElementById('ResultMap');
            const grisize = Math.ceil(Math.sqrt(tilec));
            gricon.style.width = `${grisize*51}px`;
          };
          
          
          window.onload = function(){
          loadmap();
          };
        </script>
    </body>
</html>