{% extends "PortfolioLayout.html" %}

{% block content %}
<div class="port">
<div class="PortfolioTop" id="PortfolioTop">
    <img class="PortfolioTopImg" id="PortfolioTopImg" src="{{ url_for('static', filename='images/PortfolioTop.jpg')}}">
</div>

<div class="PortfolioTopText" id="PortfolioTopText" ><div class="portfolioName">Akira Kamigiri's</div><div class="portfolioTitle">Portfolio</div></div>

<div id="product-section" style="scroll-margin-top:70px;">
    <h1 class="titleProduct">Product</h1>
</div>

<div class="productGrid">
<div class="productLine"></div>

<div class="productItem">
    <div class="productCategory">- Webアプリ -</div>
    <div class="productTitle">問題集の答え合わせ用アプリ</div>
    <div class="productCaption">事前に問題集の名前と問題数、正解一覧を登録しておき、答えを選択して答え合わせと結果を閲覧するアプリです。</div>
    <div class="productTecnique">
        <div class="productHtml">HTML/CSS</div>
        <div class="productJavaScript">JavaScript</div>
        <div class="productPython">Python/Flask</div>
        <div class="productSQLite">SQLite</div>
    </div>
    <div class="productDetail">詳細は<a class="this" href="{{ url_for('main.checkAnswers_portfolio')}}">こちら</a></div>
</div>
<a class="productImg" id="area1" href="{{ url_for('main.TestQA',key='pf')}}">
    <img src="{{ url_for('static', filename='images/checkAnswers1.png') }}" class="imageGroup active">
    <img src="{{ url_for('static', filename='images/checkAnswers2.png') }}" class="imageGroup">
    <img src="{{ url_for('static', filename='images/checkAnswers3.png') }}" class="imageGroup">
    <img src="{{ url_for('static', filename='images/checkAnswers4.png') }}" class="imageGroup">
    <span class="tooltip">実際のデモはこちらからご覧いただけます。</span>
</a>

<div class="productLine"></div>


<div class="productItem">
    <div class="productCategory">- Webアプリ -</div>
    <div class="productTitle">用語集登録・閲覧アプリ</div>
    <div class="productCaption">CSVファイルを読み込んで表示する用語集アプリです。</div>
    <div class="productTecnique">
        <div class="productHtml">HTML/CSS</div>
        <div class="productJavaScript">JavaScript</div>
        <div class="productPython">Python/Flask</div>
        <div class="productSQLite">SQLite</div>
    </div>
    <div class="productDetail">詳細は<a class="this" href="{{ url_for('main.Glossary_detail')}}">こちら</a></div>
</div>
<a class="productImg" id="area2" href="{{ url_for('main.GlossaryPage',key='pf')}}">
    <img src="{{ url_for('static', filename='images/productGlossary1.png') }}" class="imageGroup active">
    <img src="{{ url_for('static', filename='images/productGlossary2.png') }}" class="imageGroup">
    <img src="{{ url_for('static', filename='images/productGlossary3.png') }}" class="imageGroup">
    <img src="{{ url_for('static', filename='images/productGlossary4.png') }}" class="imageGroup">
    <span class="tooltip">実際のデモはこちらからご覧いただけます。</span>
</a>
<div class="productLine"></div>

<div class="productItem">
    <div class="productCategory">- Webアプリ -</div>
    <div class="productTitle">簡易計算機アプリ</div>
    <div class="productCaption">コサイン類似度、ユークリッド距離、混同行列、特徴MAPを計算する簡易計算機アプリです。</div>
    <div class="productTecnique">
        <div class="productHtml">HTML/CSS</div>
        <div class="productJavaScript">JavaScript</div>
        <div class="productPython">Python/Flask</div>
    </div>
    <div class="productDetail">詳細は<a class="this" href="{{ url_for('main.Calculator_detail')}}">こちら</a></div>
</div>
<a class="productImg" id="area3" href="{{ url_for('main.Calculator_portfolio')}}">
    <img src="{{ url_for('static', filename='images/productCalc1.png') }}" class="imageGroup active">
    <img src="{{ url_for('static', filename='images/productCalc2.png') }}" class="imageGroup">
    <img src="{{ url_for('static', filename='images/productCalc3.png') }}" class="imageGroup">
    <img src="{{ url_for('static', filename='images/productCalc4.png') }}" class="imageGroup">
    <span class="tooltip">実際のデモはこちらからご覧いただけます。</span>
</a>
<div class="productLine"></div>

<div class="productItem">
    <div class="productCategory">- スマホアプリ -</div>
    <div class="productTitle">個人用勤怠管理アプリ</div>
    <div class="productCaption">個人用の勤怠管理アプリです。<br>iOS、Android配信中</div>
    <div class="productTecnique">
        <div class="productFlutter">Flutter</div>
        <div class="productSQLite">SQLite</div>
    </div>
    <div class="productDetail">詳細は<a class="this" href="{{ url_for('main.AttendTap_portfolio')}}">こちら</a></div>
</div>
<a href="{{ url_for('main.AttendTap_portfolio')}}" class="productImg atImgA">
    <img src="{{ url_for('static', filename='images/AttendTapIconFeature.png')}}" class="atImg">
    <span class="tooltip">詳細はこちらからご覧いただけます。</span>
</a>
<div class="productLine"></div>

<div class="productItem">
    <div class="productCategory">- Webアプリ -</div>
    <div class="productTitle">投与量簡易計算機アプリ</div>
    <div class="productCaption">放射性医薬品の投与量計算アプリです。薬を選んで、体重を入力すると投与量が計算されます。<br><span style="font-size:smaller">（このアプリはAmazon EC2を使用しています。）</span></div>
    <div class="productTecnique">
        <div class="productHtml">Html/CSS</div>
        <div class="productJava">Java/Spring Boot</div>      
    </div>
    <div class="productDetail">詳細は<a class="this" href="{{ url_for('main.injectionJava_detail')}}">こちら</a></div>
    
</div>
<a class="productImg" id="area4" href="{{ url_for('main.injectionJava_portfolio')}}" target="_blank">
    <img src="{{ url_for('static', filename='images/productJava1.png') }}" class="imageGroup active">
    <img src="{{ url_for('static', filename='images/productJava2.png') }}" class="imageGroup">
    <img src="{{ url_for('static', filename='images/productJava3.png') }}" class="imageGroup">
    <span class="tooltip">実際のデモはこちらからご覧いただけます。</span>
</a>
<div class="productLine"></div>

<div class="productItem">
    <div class="productCategory">- 組み込みシステム開発 -</div>
    <div class="productTitle">温湿度計測・閲覧アプリ</div>
    <div class="productCaption">Arduino(ESP32)を用いて温度と湿度を計測し、BLEを介してスマホで表示するアプリです。</div>
    <div class="productTecnique">
        <div class="productArduino">Arduino</div>
        <div class="productFlutter">Flutter</div>      
    </div>
    <div class="productDetail">詳細は<a class="this" href="{{ url_for('main.Arduino_detail')}}">こちら</a></div>
    
</div>
<a class="productImg atImgA" href="{{ url_for('main.Arduino_detail')}}" >
    <img src="{{ url_for('static', filename='images/Arduino.jpg') }}" class="atImg">
    <span class="tooltip">詳細はこちらからご覧いただけます。</span>
</a>
<div class="productLine"></div>

</div>

<h1 class="titleProduct" id="about-section" style="scroll-margin-top:80px;">About</h1>
    
    <h2>Akira Kamigiri</h2>
    <div class="birth">
        <div class="birthday">1982年9月19日生まれ</div>
        <div class="birthplace">埼玉県生まれ三重県出身</div> 
    </div>
    <div class="introduction">
        <div class="row"><div class="PRlabel">16Personalities</div><div class="PRvalue">擁護者 ISFJ-T</div></div>
        <div class="row"><div class="PRlabel">好きなこと</div><div class="PRvalue">パソコンで作業すること、歌を歌うこと、漫画やライトノベルを読むこと、ゲーム、車の運転、散歩</div></div>
        <div class="row"><div class="PRlabel">好きなスポーツ</div><div class="PRvalue">バドミントン、バスケットボール</div></div>
        <div class="row"><div class="PRlabel">保有資格</div><div class="PRvalue">基本情報技術者、G検定、JSTQB FL</div></div>
        <div class="row"><div class="PRlabel">GitHub</div><div class="PRvalue"><a href="https://github.com/MigsFac">https://github.com/MigsFac</a></div></div>
    </div>
    <div class="selfPromotion">
        <p>2005年4月から19年間、病院で技師として勤務。
        自分の職種を一通り経験し、業務も後輩に任せられるようになったため、以前から興味の強かったエンジニアへの転職を決意しました。<br>
        前職では、VBAを活用した簡易計算機や日常業務一覧表、業務統計支援のアプリを開発することで日常業務の負担軽減、80%の時間短縮を実現し業務効率化に貢献しました。<br>
        今は「人に求められるアプリ」「便利なアプリ」「独自性のあるアプリ」などの開発を楽しみ、チームで想いを共有し、顧客に喜んでもらえるエンジニアを目指しています。</p>
        
        
    </div>
    <h1 class="titleProduct" id="skill-section">Skill</h1>
    <ul>
        <li class="skillItems">Webアプリ開発</li>
            PythonのFlaskやJavaのSpring Bootを用いたWebアプリ開発経験。データベースにはSQLiteを採用。フロントエンドとバックエンドの連携や言語・ブラウザによる挙動の違いを学びました。また、開発を通じてデータ送受信の仕組みの理解にも役立ち、ユーザー体験を意識した設計に取り組みました。
        <li class="skillItems">スマホアプリ開発</li>
            Flutterを用いてクロスプラットフォーム対応のiOS・Androidアプリを開発。特に端末ごとの画面サイズの違いによるレスポンシブデザインの重要性や操作性を考慮したUI/UX設計を学びました。
        <li class="skillItems">課題解決力</li>
            未経験の言語であっても、ChatGPTや技術ブログを活用し、独学で成果物を形にすることができました。
    </ul>
        
    <h1 class="titleProduct" id="strings-section">Strength</h1>
    <ul>
        <li class="skillItems">コミュニケーション力</li>
            先輩・後輩問わず話しやすい雰囲気を作ることで、意見交換やミスの指摘がしやすい環境を整え、チーム全体のパフォーマンス向上に貢献しました。また、意思の疎通のズレをできる限りなくすために、方向性の確認をこまめに行いました。
        <li class="skillItems">状況判断力</li>
            状況に応じて必要な対応を考え、効率や心情を考慮した柔軟な判断を実践することで状況判断力を養いました。
        <li class="skillItems">学習意欲</li>
            新しい技術や知識の習得、資格の取得にも積極的に取り組み、基本情報技術者試験・G検定・JSTQB FLに合格しました。現在はネットワークの勉強も進めており、継続的にスキルの向上を図っています。
    </ul>





<h1 class="titleProduct" id="contact-section">Contact</h1>
    ご覧いただきありがとうございます。<br>
    こちらのメールアドレス：<a href="mailto:kami.itouch@gmail.com">kami.itouch@gmail.com</a> もしくは <a href="https://form.run/@migsfactory-xoPPHC2kzjMrEY72dOxa">問い合わせフォーム</a> からお気軽にご連絡ください。<br>
   
</div>

<script>
    function setupSlideshow(containerId,delay){
        const container = document.getElementById(containerId);
        const images = container.querySelectorAll(".imageGroup");
        let currentIndex = 0;

        setInterval(() => {
            images[currentIndex].classList.remove("active");

            currentIndex = (currentIndex + 1) % images.length;

            images[currentIndex].classList.add("active");
        }, delay);
    }
    setupSlideshow('area1',2000);
    setupSlideshow('area2',2000);
    setupSlideshow('area3',2000);
    setupSlideshow('area4',2000);

    const image = document.getElementById('PortfolioTopImg');
    const text = document.getElementById('PortfolioTopText')
    const productMargin = document.getElementById('product-section');
    
    function adjustHeight(){
        const imageHeight = image.clientHeight;
        const textHeight = text.clientHeight;
        productMargin.style.marginTop = `${imageHeight -textHeight+40}px`;
    }
    window.addEventListener('resize',adjustHeight);
    window.addEventListener('load',()=>{
        adjustHeight();
    });
    

</script>

{% endblock %}