{% extends "PortfolioLayout.html" %}

{% block content %}

<div id="product-section" style="scroll-margin-top:90px;">
    <h1 class="titleProduct">Product</h1>
</div>

<div class="productGrid">
<div class="productLine"></div>
<div class="product1">
    <div class="productCategory">- Webアプリ -</div>
    <div class="productTitle">問題集の答え合わせ用アプリ</div>
    <div class="productCaption">事前に問題集の名前と問題数、正解一覧を登録しておき、答えを選択して答え合わせと結果を閲覧するアプリです。</div>
    <div class="productTecnique">
        <div class="productHtml">HTML/CSS</div>
        <div class="productJavaScript">JavaScript</div>
        <div class="productPython">Python/Flask</div>
        <div class="productSQLite">SQLite</div>
    </div>
    <div class="productDetail">詳細は<a class="this" href="{{ url_for('main.checkAnswers_portfolio')}}">こちら</a></div>
</div>
<a class="productImg" id="area1" href="{{ url_for('main.TestQA',key='pf')}}">
    <img src="{{ url_for('static', filename='images/checkAnswers1.png') }}" class="imageGroup active">
    <img src="{{ url_for('static', filename='images/checkAnswers2.png') }}" class="imageGroup">
    <img src="{{ url_for('static', filename='images/checkAnswers3.png') }}" class="imageGroup">
    <img src="{{ url_for('static', filename='images/checkAnswers4.png') }}" class="imageGroup">
    <span class="tooltip">実際のデモはこちらからご覧いただけます。</span>
</a>

<div class="productLine"></div>


<div class="product2">
    <div class="productCategory">- Webアプリ -</div>
    <div class="productTitle">用語集登録・閲覧アプリ</div>
    <div class="productCaption">CSVファイルを読み込んで表示する用語集アプリです。</div>
    <div class="productTecnique">
        <div class="productHtml">HTML/CSS</div>
        <div class="productJavaScript">JavaScript</div>
        <div class="productPython">Python/Flask</div>
        <div class="productSQLite">SQLite</div>
    </div>
    <div class="productDetail">詳細は<span class="this">こちら</span></div>
</div>
<a class="productImg" id="area2" href="{{ url_for('main.GlossaryPage',key='pf')}}">
    <img src="{{ url_for('static', filename='images/productGlossary1.png') }}" class="imageGroup active">
    <img src="{{ url_for('static', filename='images/productGlossary2.png') }}" class="imageGroup">
    <img src="{{ url_for('static', filename='images/productGlossary3.png') }}" class="imageGroup">
    <img src="{{ url_for('static', filename='images/productGlossary4.png') }}" class="imageGroup">
    <span class="tooltip">実際のデモはこちらからご覧いただけます。</span>
</a>
<div class="productLine"></div>

<div class="product3">
    <div class="productCategory">- Webアプリ -</div>
    <div class="productTitle">簡易計算機アプリ</div>
    <div class="productCaption">コサイン類似度、ユークリッド距離、混同行列、特徴マップを計算する簡易計算機アプリです。</div>
    <div class="productTecnique">
        <div class="productHtml">HTML/CSS</div>
        <div class="productJavaScript">JavaScript</div>
        <div class="productPython">Python/Flask</div>
    </div>
    <div class="productDetail">詳細は<span class="this">こちら</span></div>
</div>
<a class="productImg" id="area3" href="{{ url_for('main.Calculator_portfolio')}}">
    <img src="{{ url_for('static', filename='images/productCalc1.png') }}" class="imageGroup active">
    <img src="{{ url_for('static', filename='images/productCalc2.png') }}" class="imageGroup">
    <img src="{{ url_for('static', filename='images/productCalc3.png') }}" class="imageGroup">
    <img src="{{ url_for('static', filename='images/productCalc4.png') }}" class="imageGroup">
    <span class="tooltip">実際のデモはこちらからご覧いただけます。</span>
</a>
<div class="productLine"></div>

<div class="product4">
    <div class="productCategory">- スマホアプリ -</div>
    <div class="productTitle">個人用勤怠管理アプリ</div>
    <div class="productCaption">個人用の勤怠管理アプリです。iOS配信中、Android申請中</div>
    <div class="productTecnique">
        <div class="productFlutter">Flutter</div>
        <div class="productSQLite">SQLite</div>
    </div>
    <div class="productDetail">詳細は<a class="this" href="{{ url_for('main.AttendTap_portfolio')}}">こちら</a></div>
</div>
<a href="{{ url_for('main.AttendTap_portfolio')}}" class="productImg atImgA">
    <img src="{{ url_for('static', filename='images/AttendTapIconFeature.png')}}" class="atImg">
</a>
<div class="productLine"></div>

<div class="product5">
    <div class="productCategory">- Webアプリ -</div>
    <div class="productTitle">投与量簡易計算機アプリ</div>
    <div class="productCaption">放射性医薬品の投与量計算アプリです。薬を選んで、体重を入力すると投与量が計算されます。<br><span style="font-size:smaller">（アプリの表示に時間がかかることがあります。）</span></div>
    <div class="productTecnique">
        <div class="productHtml">Html/CSS</div>
        <div class="productJava">Java/Spring Boot</div>      
    </div>
    <div class="productDetail">詳細は<span class="this">こちら</span></div>
    
</div>
<a class="productImg" id="area4" href="{{ url_for('main.injectionJava_portfolio')}}">
    <img src="{{ url_for('static', filename='images/productJava1.png') }}" class="imageGroup active">
    <img src="{{ url_for('static', filename='images/productJava2.png') }}" class="imageGroup">
    <img src="{{ url_for('static', filename='images/productJava3.png') }}" class="imageGroup">
    <span class="tooltip">実際のデモはこちらからご覧いただけます。</span>
</a>
<div class="productLine"></div>

</div>

<h1 class="titleProduct" id="about-section">About</h1>

<h1 class="titleProduct" id="contact-section">Contact</h1>

<script>
    function setupSlideshow(containerId,delay){
        const container = document.getElementById(containerId);
        const images = container.querySelectorAll(".imageGroup");
        let currentIndex = 0;

        setInterval(() => {
            images[currentIndex].classList.remove("active");

            currentIndex = (currentIndex + 1) % images.length;

            images[currentIndex].classList.add("active");
        }, delay);
    }
    setupSlideshow('area1',2000);
    setupSlideshow('area2',2000);
    setupSlideshow('area3',2000);
    setupSlideshow('area4',2000);
</script>

{% endblock %}